<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing  Apps with xmlVersion">

    <test name="Regression">
    
    <parameter name="url" value="https://google.co.in" />
    
         <classes>
         
             <class name="PracticesBYTestNG.TestNGKeyWoards" />
             <class name="PracticesBYTestNG.ThirdTest" />
             <class name="PracticesBYTestNG.SecondTesting" />
             
             
          </classes>
          
     </test>
     
</suite> 